/* general rules:
    - use only relative and percentage values
    (high DPI should look nice!)
*/

/* variables */

:root {
  --panel-width: 220px;
  --input-height: 4.2em;
  --input-button-width: 80px;

  --main-color: #5fc5b4;
  --accent-color: #efefef;
  --off-black: #555;
}

/* colors */

.panel {
  background-color: var(--main-color);
  color: white;
}

.panel hr {
  border: 0;
  background: white;
  height: 1px;
}

.content {
  background-color: var(--accent-color);
}

.content-input {
  background-color: var(--accent-color);
}

/* layout */

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--panel-width) 1fr;
  grid-column-gap: 4px;
  overflow: hidden;
  position: relative;
}

.panel {
  overflow-y: auto;
}

.search, .button-new {
  width: calc(100% - 2em);
  margin: 0 1em .5em;
}
.content {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr var(--input-height);
}

.content-items {
  overflow-y: auto;
}

.content-input {
  display: grid;
  grid-template-columns: 1fr var(--input-button-width);
}

.content-input textarea {
  width: calc(100% - .6em);
  height: calc(var(--input-height) - 2em);
  resize: none;
}

.content-input button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: var(--input-height);
}

/* component design */

input, button {
  border: .1em solid #999;
  margin: .2em 1em;
  padding: .5em;
  outline: 0;
}

button {
  width: 2.5em;
}

.header h1 {
  width: 50%;
  text-align: center;
}

.search {
  background: #eee;
  outline: 0;
  transition: all .2s ease-in;
}

.search:focus {
  background: #fff;
  border: .1em solid rgb(67, 133, 255);
  box-shadow: inset 0 0 0em .15em rgb(67, 133, 255);
}

.notebook-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.notebook-list li {
  margin: 0;
  padding: .4em 1em;
}

.notebook-list li:hover {
  background-color: #eee;
  color: #333;
  transition: .4s all;
}

.notebook-list li:active {
  background-color: rgba(56,56,56,.25);
  color: #eee;
  transition: .2s all;
}

.content-item {
  padding: 1em;
  border: 1px solid #333;
}

.content-time {
  text-align: center;
}

.content-input-textarea, .content-input-button {
  border: .2em solid #555;
  margin: 0;
  padding: .2em;
}

.content-input-textarea {
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
}

.content-input-button {
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
}

.content-input-button:hover {
  background-color: #999;
  color: #eee;
  transition: .4s all;
}

.content-input-button:active {
  background-color: #555;
  color: #eee;
  padding-top: .4em;
  transition: 0s all;
}

/* typography */

/* use system fonts for most controls */
body, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Logo font */
.header {
  color: #333;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: .4em;
  text-align: center;
}

.panel li {
  text-shadow: 0 1px 1px #333;
}

.panel li:hover {
  text-shadow: none;
  box-shadow: 0 1px 1px #333;
}

.content-item {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}

.content-item {
  max-width: 600px;
  margin: 0 auto;
}

.content-input-textarea {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.1em;
}

.content-time {
  font-weight: 700;
}