/* variables */

:root {
  --panel-width: 14rem;
  --panel-controls-height: 5.8em;
  --input-height: 4.5rem;
  --input-button-width: 4rem;

  --main-color: #5fc5b4;
  --main-color-grad: #66dac6;
  --accent-color: #efefef;
  --off-black: #555;

  --button-normal-color: rgba(255, 255, 255, 0.0);
  --button-normal-border: rgba(255, 255, 255, 0.7);
  --button-hover-color: rgba(255, 255, 255, 0.3);
  --button-hover-border: rgba(255, 255, 255, 1);
  --button-active-color: rgba(255, 255, 255, 0.7);
  --button-active-border: rgba(255, 255, 255, 1);
}

/* colors */

/**  scrollbar based on https://codepen.io/akinjide/pen/BpggrZ by akinjide */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.6);
}

.panel {
  background: linear-gradient(to right, var(--main-color), var(--main-color-grad));
  color: white;
}

.panel hr {
  border: 0;
  background: white;
  height: 1px;
}

.content {
  background-color: var(--accent-color);
}

.content-input {
  background-color: var(--accent-color);
}

.reflex-splitter {
  background-color: #fff;
}

/* layout */

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.panel {
  display: grid;
  height: 100vh;
  grid-template-rows: var(--panel-controls-height) 1fr var(--panel-controls-height);
}

.panel-heading {

}

.panel-notebook-list {
  overflow: auto;
}

.panel-buttons {

}

.button-new {
  width: 100%;
  margin: 0;
}

.search {
  width: calc(100% - 2em);
  margin: 0 1em .5em;
}
.content {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr var(--input-height);
}

.content-items {
  overflow-y: auto;
}

.content-input {
  display: grid;
  grid-template-columns: 1fr var(--input-button-width);
}

.content-input textarea {
  height: calc(var(--input-height) - 1.2rem);
  resize: none;
}

.content-input button {
  height: var(--input-height);
  margin: 0;
  padding: 0;
  width: 100%;
}

/* component design */

input {
  border: 1px solid #999;
  margin: .2em 1em;
  padding: .5em;
  outline: 0;
}

button {
  position: relative;
  background-color: var(--button-normal-color);
  border: 1px solid var(--button-normal-border);
  width: 2.2rem;
  transition: .2s all;
  outline: none;
  padding: 1em 0;
  text-align: center;
}

button:hover, button:focus {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-border);
}

button:active {
  background-color: var(--button-active-color);
  border-color: var(--button-active-border);
  box-shadow: 0 0 1px 2px rgb(255, 255, 255);
}

.panel {

}

.header h1 {
  width: 50%;
  text-align: center;
}

.search {
  background: #eee;
  border-radius: .6rem;
  outline: 0;
  transition: box-shadow .1s ease-in;
}

.search:focus {
  background: #fff;
  border: 1px solid rgb(67, 133, 255);
  box-shadow: inset 0 0 0 2px rgb(67, 133, 255);
}

.notebook-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.notebook-list li {
  margin: 0;
  padding: .4em 1em;
}

.notebook-list li:hover {
  background-color: #eee;
  color: #333;
}

.notebook-list li:active {
  background-color: rgba(56,56,56,.25);
  color: #eee;
  transition: .2s all;
}

.square {
  width: 48px;
  height: 48px;
}

.content-item {
  padding: 1em;
}

.content-time {
  text-align: center;
}

.content-input-textarea, .content-input-button {
  border: .2rem solid var(--off-black);
  margin: 0;
  padding: .4rem;
}

.content-input-textarea {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-right: 0;
  transition: .1s all;
}

.content-input-textarea:focus {
  background: #fff;
  box-shadow: inset 0 0 2px 2px rgb(67, 133, 255);
  border-color: #666;
  outline: 0;
}

.content-input-button {
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-input-button:hover {
  background-color: var(--main-color);
  border-color: var(--off-black);
  box-shadow: 0 0 0;
  transition: .2s all;
}

.content-input-button:active {
  background-color: var(--main-color-grad);
  border-color: green;
  color: #333;
  box-shadow: inset 0 0 30px 2px rgb(255, 255, 255);
  padding-top: .2em;
  transition: .2s all;
}

/* typography */

/* use system fonts for most controls */
body, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Logo font */
.header {
  color: #333;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: .4em;
  text-align: center;
}

.panel li {
  text-shadow: 0 1px 1px #333;
}

.panel li:hover {
  text-shadow: none;
  box-shadow: 0 1px 1px #333;
}

.content-item {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}

.content-item {
  max-width: 600px;
  margin: 0 auto;
}

.content-input-textarea {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.1em;
}

.content-input-button {
  font-weight: bold;
}

.content-time {
  font-weight: 700;
  text-align: left;
}