/* variables */

:root {
  --panel-width: 14rem;
  --input-height: 4.5rem;
  --input-button-width: 4rem;

  --main-color: #5fc5b4;
  --accent-color: #efefef;
  --off-black: #555;
}

/* colors */

.panel {
  background-color: var(--main-color);
  color: white;
}

.panel hr {
  border: 0;
  background: white;
  height: 1px;
}

.content {
  background-color: var(--accent-color);
}

.content-input {
  background-color: var(--accent-color);
}

/* layout */

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--panel-width) 1fr;
  overflow: hidden;
  position: relative;
}

.panel {
  overflow-y: auto;
}

.search, .button-new {
  width: calc(100% - 2em);
  margin: 0 1em .5em;
}
.content {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr var(--input-height);
}

.content-items {
  overflow-y: auto;
}

.content-input {
  display: grid;
  grid-template-columns: 1fr var(--input-button-width);
}

.content-input textarea {
  height: calc(var(--input-height) - 1.2rem);
  resize: none;
}

.content-input button {
  height: var(--input-height);
  margin: 0;
  padding: 0;
  width: 100%;
}

/* component design */

input, button {
  border: 1px solid #999;
  margin: .2em 1em;
  padding: .5em;
  outline: 0;
}

button {
  width: 2.2rem;
}

.panel {
  border-right: .1em solid #777;
}

.header h1 {
  width: 50%;
  text-align: center;
}

.search {
  background: #eee;
  border-radius: .6rem;
  outline: 0;
  transition: box-shadow .1s ease-in;
}

.search:focus {
  background: #fff;
  border: 1px solid rgb(67, 133, 255);
  box-shadow: inset 0 0 0 2px rgb(67, 133, 255);
}

.notebook-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.notebook-list li {
  margin: 0;
  padding: .4em 1em;
}

.notebook-list li:hover {
  background-color: #eee;
  color: #333;
}

.notebook-list li:active {
  background-color: rgba(56,56,56,.25);
  color: #eee;
  transition: .2s all;
}

.content-item {
  padding: 1em;
  border: 1px solid #333;
}

.content-time {
  text-align: center;
}

.content-input-textarea, .content-input-button {
  border: .2rem solid #555;
  margin: 0;
  padding: .4rem;
}

.content-input-textarea {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-right: 0;
}

.content-input-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-input-button:hover {
  background-color: green;
  color: #eee;
  transition: .2s all;
}

.content-input-button:active {
  background-color: lightgreen;
  border-color: green;
  color: #333;
  padding-top: .2em;
  transition: 0s all;
}

/* typography */

/* use system fonts for most controls */
body, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Logo font */
.header {
  color: #333;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: .4em;
  text-align: center;
}

.panel li {
  text-shadow: 0 1px 1px #333;
}

.panel li:hover {
  text-shadow: none;
  box-shadow: 0 1px 1px #333;
}

.content-item {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}

.content-item {
  max-width: 600px;
  margin: 0 auto;
}

.content-input-textarea {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.1em;
}

.content-time {
  font-weight: 700;
}